body {
  background: #ccc;
  font-family: helvetica, arial;
  font-size: 16px;
}

input {
  font-family: helvetica, arial;
  font-size: 16px;
}

#app {
  width: 50%;
  margin: auto;
  background: white;
  padding: 10px;
  margin-top: 30px;
}

.film-list {
  padding: 0;
}

.film-list li {
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
  margin-top: 10px;
  cursor: pointer;
}

.film-list li div {
  margin-top: 10px;
}

.film-list li div img {
  margin-top: 10px;
}

.hidden {
  display: none;
}
